.hero{
    height: calc(100vh - var(--header-height));
    background-image: url('images/background.png');
    background-size: cover; /* Adjust as needed */
    background-position: center; /* Adjust as needed */
    background-repeat: no-repeat;

}
.hero-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 30px; 
    padding: 0 30px;
}
.hero-description h1{
    font-size: var(--h1-size);
    font-weight: var(--h1-weight);
    text-align: center;
    width: 60%;
}
.hero-description p {
    font-size: var(--p-size);
    font-weight: var(--p-weight);
    text-align: center;
}

.hero-btns-div{
    gap: 10px;
}

.hero-btn{
    width: 140px;
    margin: 0 10px;
    padding: 10px 20px;
    border-radius:25px;
    border: 1px solid black;
    background-color: var(--white-color);
    color: var(--black-color);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.hero-btn:hover{
    background-color: var(--light-grey-color);
}




@media only screen and (max-width: 900px){
    .hero-description h1{
        width: 100%;
    }
}

@media screen and (max-width: 767px){
    .hero-description h1{
        width: 100%;
    }
}

@media screen and (max-width: 400px){
    .hero-btns-div{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}
